* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*this changes the background color*/
body {
    background-color: #d9dcd6;
}

/*gives us the format for the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Font size and display for Horiseon*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*format for the nav bar*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*font size for paragraphs*/
p {
    font-size: 16px;
}

/*formatting for image under header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../images/digital-marketing-meeting.jpg") center;
    background-size: cover;
}

/*shows where Search Engine Optimization and Social Media Marketing is oriented on the page*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*shows where Online Reputation Management is oriented on the page*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*formatting for the three sections under the header*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*formatting for the side information*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*formatting for Lead Generation section*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*formatting for Brand Awareness section*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*formatting for Cost Management section*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*formatting for header of Lead Generation*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*formatting for header of Brand Awareness*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*formatting for header of Cost Management*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*formatting Lead Generation image*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*formatting Brand Awareness image*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*formatting Cost Management*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*formatting for search engine optimization section*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*formatting for online reputation management*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*formatting for social media marketing*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*formatting for search engine optimization image*/
.search-engine-optimization img {
    max-height: 200px;
}

/*formatting for online reputation image*/
.online-reputation-management img {
    max-height: 200px;
}

/*formatting for social media marketing image*/
.social-media-marketing img {
    max-height: 200px;
}

/*formatting for Search enging optimization header*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*formatting for online reputation management header*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*formatting for social media marketing header*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*formatting for the footer section*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*formatting for the "Made with love by..." sentence*/
.footer h2 {
    font-size: 20px;
}
